@import url('./main-layout.css');
@import url('lumo-css-framework/all-classes.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');


.add-button{
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.import-button{
    width: 150px;
    height: 150px;
    margin-bottom: 200px;
    border-radius: 75px;
}
.logout{
    margin-left: 900px;
}

.next-button:hover{
    opacity: 90%;
    color: white;
    background-color: rgb(7,104,252);
    transition-duration: 0.75s;
    transition-fill-mode: linear;
}

.save-button:hover{
    opacity: 90%;
    color: white;
    background-color: rgb(7,104,252);
    transition-duration: 0.75s;
    transition-fill-mode: linear;
}

.ok-button:hover{
    color: #48d6ff;
    opacity: 90%;
}

.ok-button-clicked{
    color: #48d6ff;
}

.good-button:hover{
    color: #4fff41;
    opacity: 90%;
}

.good-button-clicked{
    color: #4fff41;
}

.bad-button:hover{
    color: #ff6069;
    opacity: 90%;
}

.bad-button-clicked{
    color: #ff6069;
}
